/* Root */
:root{
--color-primary-blue: #2b7fff;
--color-primary-dark-blue: #011c44;
--color-primary-white: #fff;
--color-secondary-grey: #747272;
--color-secondary-dark-grey: #4a4a4a;
--color-secondary-black: #000;
}

/* Header */
.header-logo{
font-family: "Play", sans-serif;
font-weight: 700;
font-size: 22px;
line-height: 21px;
text-transform: capitalize;
color: var(--color-primary-blue);
text-decoration: none;
}

.header-navigation-list{
list-style: none;
}

.header-navigation-list-item{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;
color: var(--color-primary-dark-blue);
text-decoration: none;
}

.header-navigation-list-item:hover{
color: var(--color-primary-blue);
}

/* Main Section */
.main-section-uppertitle{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;
color: var(--color-primary-dark-blue);
}

.main-section-title{
font-family: "Play",
sans-serif;
font-weight: 700;
font-size: 140px;
line-height: 114px;
text-transform: capitalize;
color: var(--color-primary-blue);
}

.main-section-button{
font-family: "Roboto", sans-serif;
font-weight: 600;
font-size: 18px;
color: var(--color-primary-white);
background-color: var(--color-primary-blue);
border-radius: 32px;
padding: 16px 32px;
border: 2px solid var(--color-primary-blue);
cursor: pointer;
}

.main-section-button:hover{
color: var(--color-primary-dark-blue);
background-color: transparent;
}

.main-section-descr{
font-family: "Roboto",
sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: var(--color-secondary-dark-grey);
}

/* About Us Section */
.about-us-title{
font-family: "Play", sans-serif;
font-weight: 700;
font-size: 64px;
color: var(--color-primary-dark-blue);
}

.about-us-title-span{
text-transform: capitalize;
color: var(--color-primary-blue);
}

.about-us-first-descr{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 22px;
line-height: 38px;
color: var(--color-primary-dark-blue);
}

.about-us-second-descr{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 22px;
line-height: 38px;
color: var(--color-primary-dark-blue);
}

.about-us-second-descr-span{
font-weight: 600;
text-transform: capitalize;
}

/* Why We Section */
.why-we-descr{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: var(--color-primary-dark-blue);
}

/* Our Procedures Section */
.navigation-cards-list{
list-style: none;
}

.cards-descr{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: var(--color-primary-white);
}

/* Contacts Section */
.contacts-form{
border-radius: 32px;
width: 423px;
height: 481px;
background-color: var(--color-primary-dark-blue);
}

.contacts-title{
font-family: "Play", sans-serif;
font-weight: 700;
font-size: 64px;
color: var(--color-primary-dark-blue);
}

.contacts-title-span{
color: var(--color-primary-blue);
}

.contacts-form-title{
font-family: "Roboto", sans-serif;
font-weight: 600;
font-size: 22px;
color: var(--color-primary-white);
width: 274px;
text-align: center;
}

.contacts-form-title-span{
color: var(--color-primary-blue);
}

.form-input{
border: 2px solid var(--color-secondary-grey);
border-radius: 32px;
width: 310px;
height: 52px;
background: var(--color-primary-dark-blue);
color: var(--color-primary-white);
}

.form-input:hover{
background-color: var(--color-secondary-grey);
color: var(--color-primary-white);
}

::placeholder{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 13px;
color: var(--color-primary-white);
}

.contacts-button{
border-radius: 32px;
padding: 16px 32px;
background-color: var(--color-primary-blue);
font-family: "Roboto", sans-serif;
font-weight: 600;
font-size: 18px;
color: var(--color-primary-white);
border: 2px solid var(--color-primary-blue);
cursor: pointer;
}

.contacts-button:hover{
background-color: #dfdfdf;
color: var(--color-primary-dark-blue);
}

.confident-politic{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: var(--color-secondary-grey);
}


.confident-politic-span{
text-decoration: underline;
text-decoration-skip-ink: none;
}


/* Footer */
.footer{
background-color: var(--color-primary-dark-blue);
}

.footer-logo{
font-family: "Play",
sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 21px;
text-transform: capitalize;
color: var(--color-primary-blue);
text-decoration: none;
}

.footer-navigation-list{
list-style: none;
}

.footer-navigation-list-item{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
color: var(--color-primary-white);
text-decoration: none;
}

.footer-contacts-item{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
color: var(--color-primary-white);
text-decoration: none;
}


.footer-confident-politics{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
color: var(--color-primary-white);
text-decoration: none;
}

.footer-copyright{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 13px;
color: var(--color-secondary-grey);
}